@font-face {
    font-family: "Satoshi";
    src: url(../assets/fonts/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf);
    font-weight: 100 900;
}

@font-face {
    font-family: "Switzer";
    src: url(../assets/fonts/Switzer_Complete/Fonts/TTF/Switzer-Variable.ttf);
    font-weight: 100 900;
}